.container {
  position: absolute;
  width: 7rem;
  height: 100%;
  left: 0rem;
  top: 0rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: var(--white);
}

.container > img {
  margin-top: 30%;
  width: 3rem;
}

.switcher {
  margin-bottom: 30%;
}

.switcher img {
  margin-top: 20%;
  margin-left: 20%;
  width: 0.7rem;
}

.icons img {
  background: var(--white);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 2.5rem;
  height: 2.5rem;
}

.icons button {
  border: none;
  margin: 18px 0;
}

@media only screen and (max-width: 1000px) {
  .container {
    height: 132%;
  }
}
