.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: grid;
  flex-direction: column;
}

.container section {
  flex: 1 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6.25rem;
  align-content: center;
}

@media only screen and (max-width: 1200px) {
  .container section {
    display: flex;
    flex-flow: wrap column;
  }
}
