.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: grid;
  flex-direction: column;
}

.container section {
  flex: 1 1;
  display: flex;
  gap: 6rem;
  align-content: center;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: 0 10em;
  }

  .container section {
    gap: 3rem;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    margin: 0 10em;
  }

  .container section {
    gap: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    margin: 0 15em;
  }

  .container section {
    padding: 3em 0;
    flex-flow: wrap column;
    margin-bottom: 5em;
  }
}
